
* {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  background: #51DB98;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 700px;
  height: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 45px #999;
}

/**************************** LEFT COLUMN *************************************/
.left-container {
  flex: 0 0 35%;
  flex-direction: column;
  display: flex;
}

/* -----------MENU BAR---------- */
.menu {
  background: #252525;
  flex: 0 0 50px;
  /*border-bottom: 1px solid black;*/
}

#dropdown-menu {
  height: 100%;
  width: 50px;
  font-size: 15px;
  background: none;
  color: #DADBDB;
  outline: none;
}

.logo {
  color: #6EE1B3;
  line-height: 50px;
  font-family: 'Orbitron', sans-serif;
}

/* -----------SEARCH INPUT---------- */
.search input {
  text-indent: 35px;
}

.search {
  position: relative;
  flex: 0 0 50px;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 14px;
  font-size: 0.6em;
  color: #E7E8E9;
}



/* -----------HISTORY WINDOW---------- */
.history {
  background: #fff;
  flex: 1;
}

.user {
  height: 50px;
  clear: both;
  border-left: 4px solid transparent;
}

.user:hover {
  border-color: #58D99B;
  background: #F2F2F2;
}

.history img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.profile-picture {
  height: 50px;
  width: 50px;
  float: left;
}

.svg-clipped {
  -webkit-clip-path:url(#svgPath);
  /*-moz-clip-path:url(#svgPath);*/
  clip-path:url(#svgPath);
  /*height: 50px;*/
}

.clip-circle {
  clip-path: circle(20px at center);
  width: 100%;
  height: 100%;
}

.name {
  padding-top: 8px;
  font-size: 0.8em;
  font-weight: 700;
  display: block;
}

.message {
  padding-top: 2px;
  font-size: 0.5em;
  display: block;
}


/*ul {
  list-style: none;
  padding-left: 0;
}*/

/*.history li {
  height: 60px;
  line-height: 60px;
}*/


/**************************** RIGHT COLUMN ************************************/
.right-container {
  /*position: relative;*/
  flex: 1;
  flex-direction: column;
  display: flex;
  /*height: 100%;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-flow: row wrap;*/
}

/* -----------TOP BAR---------- */
.top-bar {
  /*overflow: hidden;*/
  background: #fff;
  height: 50px;
  line-height: 50px;
  flex: 0 0 50px;
  /*border-left: 1px solid black;*/
}

.top-bar i {
  margin-right: 25px;
  font-size: 18px;
}

/* -----------CONVERSATION WINDOW-----------*/
.conversation {
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  border-left: 1px solid #F0F0F0;
  /*margin-top: -1px;*/
  background: #F6F6F6;
  position: relative;
  flex: 1;
  /***for later messages in history***/
  /*display: flex;*/
  /*flex-direction: column;*/
}

/* -----------BOTTOM BAR-----------*/
.input-bar {
  background: #fff;
  flex: 0 0 40px;
  color: #C3C3C3;
  display: flex;
  flex-direction: row;
  /*border-top: 1px solid #F0F0F0;*/
  border-left: 1px solid #F0F0F0;

}

.icons {
  margin-right: 20px;
  flex: 0 0 auto;
}

.icons i {
  margin-left: 10px;
  font-size: 20px;
  line-height: 40px;
}

span.divider {
  display: inline-block;
  width: 0;
  height: 28px;
  margin: 6px 0;
  border-left: 1px solid #F8F8F8;
  border-right: 1px solid #F8F8F8;
}

.input {
  margin: 0 20px;
  flex: 1;
}

#send-button {
 height: 100%;
 flex: 0 0 40px;
 background: none;
 border: none;
 font-size: 20px;
 color: #1094FF;
 outline: none;
}



/******************************* COMMON ***************************************/
.fa-long-arrow-up {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*#dropdown-menu, .icons, .input, .logo, .interlocutor {
  float: left;
}*/

#dropdown-menu, .icons, .input, .logo, .interlocutor, .divider {
  float: left;
}

#send-button, .logged-user, .top-bar span {
  float: right;
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 0.7em;
}

i, button {
  cursor: pointer;
}
